# Ignora la cartella dei dati
data/
*.csv
*.zip

# Ignora modello e grafico generati
outputs/*.pth
outputs/*.png

# Ignora i file Python compilati
__pycache__/
*.pyc

# Ignora ambienti virtuali
venv/
.env/